
.ad-js-filter-form {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #eaeaea, #f7f7f7) repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.46);
    margin: 20px 0;
    padding: 7px 15px;
}

.ad-js-filter-form .button-widgets {
    display: inline-block;
}

.ad-js-filter-form .limit-widget {
    float: right;
}

.ad-js-filter-form .custom-widgets {
    float: left;
}

.ad-js-filter-form .custom-widgets .form-group {
    margin-right: 8px;
}